.header {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100vw;
  min-width: 500px;
  padding-left: 5vw;
  padding-right: 5vw;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  outline: 0;
  background-image: linear-gradient(
        180deg, 
      rgba(38, 40, 45, .6) 0, 
      rgba(35, 37, 41, .4428) 19%, 
      rgba(31, 33, 37, .3246) 34%, 
      rgba(27, 28, 32, .2292) 47%, 
      rgba(23, 24, 27, .1668) 56.5%, 
      rgba(19, 20, 22, .1164) 65%, 
      rgba(14, 15, 16, .0756) 73%, 
      rgba(9, 10, 11, .045) 80.2%, 
      rgba(6, 6, 7, .0252) 86.1%, 
      rgba(3, 3, 4, .0126) 91%, 
      rgba(1, 1, 1, .0048) 95.2%, 
      rgba(0, 0, 0, .0012) 98.2%, 
      transparent
    );
  font-weight: 400;
  line-height: 3;
}

.header div, .header span {
  padding: 0 1rem;
  line-height: 4.7;
}

.header .logo {
  display: inline-block;
  margin-right: auto;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 3;
}

.header .header-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header a {
  text-decoration: none;
}
